.add-work input,
.add-work textarea,
.add-work select {
    width: 70%;
}

.wrap-input-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.wrap-add-notification {
    width: 70%;
}

.input-title-notification {
    width: 60%;
}

.input-date-notification {
    width: 40% !important;
    margin-left: 20px;
}
