.add-work {
    margin-top: 50px;
    margin-bottom: 100px;
}

.add-work input,
.add-work textarea,
.add-work select {
    width: 70%;
}

.titleSmall {
    color: red;
    font-family:'Times New Roman', Times, serif;
}

.wrap-input-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.wrap-add-notification {
    width: 70%;
}

.input-title-notification {
    width: 60%;
}

.input-date-notification {
    width: 40% !important;
    margin-left: 20px;
}

.contactName {
    margin-top: 20px;
    text-align: center;
    background: #dc3545;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
}

.contactName p {
    margin-bottom: 10px;
}