body {
  margin: 0;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

.wrap-todolist {
  min-height: 95vh;
  padding: 2rem 4rem;
  background: #e8e8e8;
}

.wrap-filter input,
.wrap-filter select {
  width: 150px;
}

.wrap-pagination {
  z-index: 0;
  position: relative;
}

.titleBig {
  color: red;
  font-family:'Times New Roman', Times, serif;
}

.table-scroll {
  position: relative;
  width:100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: max-content;
  max-height: 64vh;
  z-index: 0;
}
.table-scroll table {
  width: 100%;
  min-width: 1280px;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.table-scroll th,
.table-scroll td {
  padding: 5px 10px;
  vertical-align: top;
}
.table-scroll thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
}

.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: #666;
  z-index:4;
}

.work-list tbody tr {
  cursor: pointer;
}

th {
  white-space: nowrap;
}

.min-w-300 {
  min-width: 300px;
}

td span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.page-item.active {
  background-color: #007bff;
}

.contactName {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dc3545;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 10px;
}

.contactName p {
  margin: 0 2% 10px;
}

.count-noti {
  background: #ca3737;
  border-radius: 999px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f9fa;
  font-size: 12px;
  margin-left: 8px;
}

.wrap-noti {
  display: none;
}

.wrap-noti-list {
  top: 100%;
  left: 9px;
  position: absolute;
  border-radius: 4px;
  padding: 0 1rem;
  background: #fff;
  margin-top: 0.5rem;
  width: 400px;
  max-height: 400;
  overflow: auto;
  z-index: 10;
}

.wrap-noti-list li {
  list-style-type: none;
  padding: 1rem 0;
  border-bottom: 1px solid #e1e4e6;
}
.wrap-noti-list li div:last-child {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.wrap-noti-list li div:first-child {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.wrap-noti-list li:last-child {
  border-bottom: none;
}

.wrap-noti-list li span:last-child {
  font-size: 0.7rem;
  margin-left: 0.7rem;
  display: block;
  color: #51a6d0;
  text-align: right;
}

.polygon-noti {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0;
  border-bottom: 9px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  left: 20%;
}